# beforeEach
snippet bef
	beforeEach(function () {
		${1}
	});
# describe
snippet des
	describe('${1}', function() {
		${2}
	});
# it
snippet it
	it('${1}', function () {
		${2}
	});
# it-pending
snippet pend
	it('${1}');
